@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
body{
    font-family: 'Ruslan Display', cursive;
}
top{
position: absolute;
width: 820px;
height: 52px;
left: 378px;
top: 117px;

font-family: Ruslan Display;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 52px;
}
fon1{
position: absolute;
width: 792px;
height: 169px;
left: 378px;
top: 0px;
background: #7C2E0C;
}
fon2{
position: absolute;
width: 239px;
height: 239px;
left: 207px;
top: 0px;

background: #1F1A1A;
}
fon3{
position: absolute;
width: 420px;
height: 420px;
right: 200px;
top: 361px;

background: #1F1A1A;
mix-blend-mode: darken;

}

text1{
position: absolute;
width: 550px;
height: 24px;
left: 290px;
top: 311px;

font-family: Ruslan Display;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 24px;

color: #000000;


}
fon4{
position: absolute;
width: 332px;
height: 345px;
right: 200px;
bottom: 158px;

}
fon5{
position: absolute;
width: 244px;
height: 243px;
left: 202px;
top: 781px;

background: #1F1A1A;
}

ikon1{
position: absolute;
left: 70%;
right: 30%;
top: 84.28%;
bottom: 9.47%;

border-radius: 10%;

}
ikon2{
position: absolute;
left: 76.5%;
right: 23.5%;
top: 84.28%;
bottom: 9.47%;

border-radius: 40px;
}

ikon3{
position: absolute;
left: 83%;
right: 17%;
top: 84.28%;
bottom: 9.47%
}